:root {
    --map-height: 66vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#map {
    width: 100%;
    height: var(--map-height);
    margin-bottom: 0;
    position: fixed;
    top: 0;
    z-index: 100;
}

table {
    position: absolute;
    top: var(--map-height);
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
}

td.text-center {
    text-align: center;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
.checkbox-column {
    width: 50px;
}